:root {
  --background: #0f0f0f;
  --background-2: #1a1a1a;
  --text: #e0e0e0;
  --accent: #b5b5b5;
  --hover-accent: #ffffff;
  --highlight: #d4af37;
  --background-3: rgba(255, 255, 255, 0.6);
  --background-4: rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Cal Sans", sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  text-transform: none;
  letter-spacing: 0.7px;
}

header {
  padding: 15px 20px;
  background: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--highlight);
}

section {
  padding: 40px;
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 20px;
}

.name {
  font-size: 3rem;
  font-weight: 550;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  background-image: url("./images/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-image {
  display: block;
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.contact-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.contact a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.contact a:hover {
  color: var(--highlight);
}

h2:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.skills {
  background-image: url("./images/leaves3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
}

.contact {
  background-image: url("./images/leaves4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
}

/* mobile settings */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    flex-direction: row;
    gap: 10px;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-bottom: 20px;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  nav {
    flex-direction: row;
    gap: 5px;
  }
}
